.container {
  max-width: 1440px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__header {
    display: flex;
    gap: 25vw;
    justify-content: flex-start;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.catalog {
  &__albums__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    width: 100%;
    @media (max-width: 1230px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 600px;
    }
  }
}

.noalbumsfound{
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  &__text {
    text-align: center;
    font-size: 32px;
    color: var(--text-color);
  }
}

.filters {
  &__popup {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;

    @media (max-width: 1200px) {
      max-width: 600px;
      top: 30%;
    }

    // @media (max-width: 460px) {
    //   min-width: 330px;
    // }

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__closePopupButton {
    background-color: var(--button-background-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;

    &:hover {
      background-color:var(--button-hover-background-color);
    }
  }
}