.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.catalog {
  &__albums__list {
    margin-top: 40px;
    display: grid; /* Используем grid для создания сетки */
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    grid-template-rows: repeat(2, auto); /* Две строки */
    row-gap: 20px;
    width: 100%;
    column-gap: 50px;
    @media (max-width: 950px) {
      grid-template-columns: 1fr; /* Одна колонка */
      grid-template-rows: auto; /* Автоматическая высота строк */
      column-gap: 0; /* Убираем расстояние между колонками */
      max-width: 600px;
    }
  }
}