.favorites__page {
  padding: 20px;
  &__table {
    width: 100%;
    border-collapse: collapse;
  }
  
  &__ th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  &__ th {
    background-color: #f2f2f2;
    text-align: left;
  }
}

