.favorites {
  &__page {
    max-width: 1440px;
    padding: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.remove__button {
  margin-left: 20px;
}

.removeAll {
  margin-top: 20px;
  text-align: center;
}
