.container {
  border-radius: 7px;
  border: solid 1px var(--text-color);
  width: 252px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.dropdown {
  width: 100%;
  border: none;
  min-height: 38px;
  .select__control {
    min-height: 38px;
  }
  .select__value-container {
    min-height: 38px;
    display: flex;
    align-items: center;
  }
}
