.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  &__group {
    display: flex;
    gap: 10px;
    align-items: start;
    flex-direction: column;
  }

  @media (max-width: 1230px) {
    flex-direction: column;
  }

  &__spacer {
    width: 205px;

    @media (max-width: 460px) {
      width: 50px;
    }
  }
}

.dropdown {
  border: none;
  min-height: 38px;
  min-width: 200px;
  .select__control {
    min-height: 38px;
  }
  .select__value-container {
    min-height: 38px;
    display: flex;
    align-items: center;
  }
}

.reset {
  &__buttonWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  }

  &__button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--text-color);
    cursor: pointer;
    display: inline-block;
    padding: 0;
    outline: none;
    box-shadow: none;
    &:focus {
      outline: none;
    }
  }

  &__buttonLabel {
    color: var(--text-color);
    font-size: 14px;
    min-width: 100px;
  }
}

