// src/components/Filters/styles.module.scss

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.dropdown {
  // width: 100%;
  border: none;
  min-height: 38px;
  .select__control {
    min-height: 38px;
  }
  .select__value-container {
    min-height: 38px;
    display: flex;
    align-items: center;
  }
}
