.button {
  // margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: var(--button-background-color);
  color: var(--button-text);
  cursor: pointer;
  &:hover {
    background-color: var(--button-hover-background-color);
  }
}