.album {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
  }
}

.form {
  &__group {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 5vw;
    justify-content: space-between;
    & input {
      border-radius: 7px;
      background-color: var(--input-color);
      height: 1.5rem;
      border: solid 1px var(--text-color);
    }
  }
}

.file {
  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 254px;
  }
  &_label {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
  }
}

.hidden__input {
  display: none;
}

.check {
  &__icon {
    color: green;
    font-size: 1.5rem;
    position: relative;
  }
  &__icon:hover::after {
    content: attr(title);
    position: absolute;
    left: 100%;
    bottom: 50%;
    transform: translateY(50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
  }
}


