.toggle {
  &__container {
    width: 60px;
    height: 30px;
    background-color: var(--text-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    padding: 0 5px;

    @media (max-width: 1020px) {
      background-color: var(--toggle-background);
      margin-left: 32px;
      margin-bottom: 32px;
    }
  }
  &__switch {
    width: 28px;
    height: 28px;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.3s;
    transform: translateX(2px);

    @media (max-width: 1020px) {
      background-color: #fffcf2;
    }
  }
  &__switch.dark {
    transform: translateX(30px);
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.dark .icon {
  color: #f1c40f;
}

.icon {
  color: #f39c12;
}
