.album {
  &__page {
    padding: 80px;
    display: flex;
    justify-content: flex-start;
  }
  &__content {
    display: flex;
    gap: 10vw;
    align-items: center;
  }
  &__image {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  &__actions {
    display: flex;
    gap: 20px;
  }
}
