.album {
  &__page {
    max-width: 1440px;
    padding: 80px;
    display: flex;
    justify-content: flex-start;

    @media (max-width: 1230px) {
      max-width: 1200px;
    }

    @media (max-width: 1020px) {
      max-width: 800px;
      padding: 40px;
    }

    @media (max-width: 771px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__content {
    display: flex;
    gap: 10vw;
    align-items: center;

    @media (max-width: 771px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  
  &__image {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    min-width: 150px;
    min-height: 150px;
    object-fit: cover;
    transition: width 0.3s ease, height 0.3s ease;

    @media (max-width: 771px) {
      width: 80%;
      max-width: 400px;
    }

    @media (max-width: 460px) {
      width: 100%;
      max-width: 300px;
    }
  }
  
  &__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 100%;

    @media (max-width: 771px) {
      align-items: center;
    }
  }

  &__fav {
    display: flex;
    align-items: center;
    gap: 36px;

    &_icon {
      cursor: pointer;
      margin-left: 10px;
      display: inline-flex;
      align-items: center;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    &_row {
      border-bottom: 1px solid #ccc;
    }
    
    &_cell {
      padding: 10px;
      vertical-align: top;
    
      &:first-child {
        font-weight: bold;
        width: 30%;
      }
    }
    
    &_header {
      padding: 10px;
      text-align: left;
      background-color: #f4f4f4;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
  }
}
