#root {
  text-align: center;
}

:root {
  --background-color: #ffffff;
  --background-color-header: #333;
  --text-color: #213547;
  --button-background-color: #fa6d3e;
  --button-hover-background-color: #e9764b;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App.light {
  --background-color: #fffcf2;
  --background-color-header: #fffcf2;
  --text-color: #252f3f;
  --button-background-color: #323233;
  --button-hover-background-color: rgba(25,25,26,.7);
  --button-text: #fffcf2;
  --input-color: white;
}

.App.dark {
  --background-color: #252f3f;
  --background-color-header: #252f3f;
  --text-color: #fffcf2;
  --button-background-color: #fa6d3e;
  --button-hover-background-color: #e9764b;
  --button-text: #252f3f;
  --input-color: #fffcf2;
}
